*{
    margin: 0;
    padding: 0;
}

body{

    background-color: #38d1ff;
    color: antiquewhite;
    margin-bottom: 100px;
}

header {
    background-color:lawngreen;
    color:black;
    text-align: center;
    padding: 20px;

}

.container{

display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px
width: 100%;
}

#série{

    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;

}